<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Configuration>
    <Properties>
        <Property name="log-pattern">%date [%thread] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${log-pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="davd33.aoc" level="info">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>
</Configuration>
